.divisao2{
  display: flex;
  width: 50%;
  align-items: center;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divisao{
  display: flex;
  width: 50%;
  align-items: center;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
