<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TRUCO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <h1>Valendo:</h1>
    </ion-label>
  </ion-item>

  <ion-button>1</ion-button>
  <ion-button>3</ion-button>
  <ion-button>6</ion-button>
  <ion-button>9</ion-button>
  <ion-button>12</ion-button>

  <div class="divisao">
  <ion-item>
    <ion-label>
      <h1>Time 1</h1>
    </ion-label>
  </ion-item>
  </div>

  <div class="divisao">
  <ion-item>
    <ion-label>
      <h1>Time 2</h1>
    </ion-label>
  </ion-item>
  </div>

  <div class="divisao">
  <ion-button>+</ion-button>
  </div>

  <div class="divisao">
  <ion-button>+</ion-button>
  </div>

</ion-content>
