<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TRUCO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <h1>Valendo:</h1>
    </ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button>1</ion-button></ion-col>
      <ion-col><ion-button>3</ion-button></ion-col>
      <ion-col><ion-button>6</ion-button></ion-col>
      <ion-col><ion-button>9</ion-button></ion-col>
      <ion-col><ion-button>12</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>

<ion-card>
  <div class="divisao">
  <ion-item>
    <ion-label>
      <h1>Time 1</h1>
    </ion-label>
  </ion-item>
  </div>

  <div class="divisao">
  <ion-item>
    <ion-label>
      <h1>Time 2</h1>
    </ion-label>
  </ion-item>
  </div>

  <div class="divisao">
    <ion-col></ion-col>
    <ion-col><ion-button>+</ion-button></ion-col>
    <ion-col></ion-col>
  </div>

  <div class="divisao">
    <ion-col></ion-col>
    <ion-col><ion-button>+</ion-button></ion-col>
    <ion-col></ion-col>
  </div>
</ion-card>

<ion-card>

    <ion-item>
      <ion-label>
        <h1>0</h1>
      </ion-label>
    </ion-item>



    <ion-item>
      <ion-label>
        <h1>0</h1>
      </ion-label>
    </ion-item>



      <ion-col></ion-col>
      <ion-col><ion-button>-</ion-button></ion-col>
      <ion-col></ion-col>



      <ion-col></ion-col>
      <ion-col><ion-button>-</ion-button></ion-col>
      <ion-col></ion-col>

  </ion-card>

  <br>
  <br>

  <ion-item>
    <ion-label>
      <h1>Partidas</h1>
    </ion-label>
  </ion-item>

  <br>

  <ion-card>
    <div class="divisao2">
      <ion-item>
        <ion-label>
          <h1>0</h1>
        </ion-label>
      </ion-item>
    </div>

    <div class="divisao2">
      <ion-item>
        <ion-label>
          <h1>Time 1</h1>
        </ion-label>
      </ion-item>
      </div>
  </ion-card>

  <ion-card>
    <div class="divisao2">
      <ion-item>
        <ion-label>
          <h1>0</h1>
        </ion-label>
      </ion-item>
    </div>

    <div class="divisao2">
      <ion-item>
        <ion-label>
          <h1>Time 2</h1>
        </ion-label>
      </ion-item>
      </div>
  </ion-card>

</ion-content>
